<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TABS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">PAGINA TABS</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-tabs>
  <ion-tab tab="home">
    <div id="home-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Listen now</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">Listen now content</div>
      </ion-content>
    </div>
  </ion-tab>
  <ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" routerLink="/menu">
    Listen Now
  </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
