
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Ingrese su email</ion-label>
        <ion-input  formControlName="email"></ion-input>
        @if (email.touched && email.invalid) {
          @if (email.hasError('required')) {
            <small>El campo es requerido</small>
          } @else if (email.hasError('email')) {
            <small>Use un formato valido nombre&#64;gmail.com</small>
          } @else if (email.hasError('notDomain')) {
            <small>El correo debe ser (gmail/hotmail) y terminar con (com/es)</small>
          } @else if (email.hasError('notChart')){
            <small>Use un formato valido nombre123&#64;gmail.com</small>
          }
        }

      </ion-item>

      <ion-item>
        <ion-label position="floating">Ingrese su contraseña</ion-label>
        <ion-input  formControlName="password" labelPlacement="stacked"></ion-input>
        @if(password.touched && password.invalid){
          @if (password.hasError('required')){
            <ion-text color="danger">Campo Requerido</ion-text>

          }
          @if(password.hasError('minlength')){
            <small>minimo 6 caracteres</small>
          }
          @if(password.hasError('maxlength')){
            <small>maximo 10 caracteres</small>
          }
          @if(password.hasError('notSpecialChart')){
            <small>necesita un caracter especial</small>
          }
        }
      </ion-item>

      <ion-item>
        <ion-label position="floating">Repita su contraseña</ion-label>
        <ion-input formControlName="confirmPassword"></ion-input>
        @if(confirmPassword.touched){
          @if (form.hasError('notEqual')){
            <ion-text color="danger">
              no son iguales </ion-text>
          }
        }

      </ion-item>
      <ion-item>
        <ion-button
          [disabled] = "form.invalid"
          shape="round">
          Enviar</ion-button>
      </ion-item>
    </ion-list>
    {{Error}}
  </form>

